# Project 3: Data Cleaning - Tidy up messy Datasets (Movies Dataset)

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 3 on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## First Steps

1. __Load__ and __inspect__ the messy dataset __movies_metadata.csv__. Identify columns with nested / stringified json data.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('movies_metadata.csv',low_memory=False)

## Dropping irrelevant Columns

2. __Drop__ the irrelevant columns 'adult', 'imdb_id', 'original_title', 'video' and 'homepage'.

In [12]:
df.drop(['adult','imdb_id','original_title','video','homepage'],axis=1,inplace=True)

In [13]:
df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

## How to handle stringified JSON columns

3. __Evaluate__ Python Expressions in the stringified columns ["belongs_to_collection", "genres", "production_countries", "production_companies", "spoken_languages"] and __remove quotes__ ("") where possible.

In [16]:
import json
import ast

In [20]:
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [22]:
df['genres'] = df['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [23]:
df['production_countries'] = df['production_countries'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [24]:
df['production_companies'] = df['production_companies'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [25]:
df['spoken_languages']  = df['spoken_languages'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [29]:
df['spoken_languages']

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45466, dtype: object

## How to flatten nested Columns

4. __Extract__ only the __collection name__ from the column "belongs_to_collection" and __overwrite__ "belongs_to_collection". <br> For example: The value in the first row (Toy Story) should be 'Toy Story Collection'.

5. __Extract__ all __genre names__ from the column "genres" and __overwrite__ "genres". If a movie has more than one genre, __seperate genres by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'Animation|Comedy|Family'.

6. __Extract__ all __spoken language names__ from the column "spoken_languages" and __overwrite__ "spoken_languages". If a movie has more than one spoken language, __seperate spoken languages by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'English'.

In [31]:
df = pd.read_csv("movies_metadata.csv",low_memory=False)

In [32]:
df['belongs_to_collection']

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [33]:
df.belongs_to_collection = df.belongs_to_collection.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [35]:
df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: x['name'] if isinstance(x,dict) else np.nan)

In [36]:
df['belongs_to_collection']

0                  Toy Story Collection
1                                   NaN
2             Grumpy Old Men Collection
3                                   NaN
4        Father of the Bride Collection
                      ...
45461                               NaN
45462                               NaN
45463                               NaN
45464                               NaN
45465                               NaN
Name: belongs_to_collection, Length: 45466, dtype: object

In [38]:
df['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [41]:
#Extract all genre names from the column "genres" and overwrite "genres". If a movie has more than one genre, seperate genres by a pipe "|".
#For example: The value in the first row (Toy Story) should be 'Animation|Comedy|Family'.

df.genres = df.genres.apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [42]:
df.genres = df.genres.apply(lambda x: "|".join(i['name'] for i in x))

In [43]:
df['genres']

0         Animation|Comedy|Family
1        Adventure|Fantasy|Family
2                  Romance|Comedy
3            Comedy|Drama|Romance
4                          Comedy
                   ...
45461                Drama|Family
45462                       Drama
45463       Action|Drama|Thriller
45464
45465
Name: genres, Length: 45466, dtype: object

In [44]:
#Extract all spoken language names from the column "spoken_languages" and overwrite "spoken_languages". If a movie has more than one spoken language, seperate spoken languages by a pipe "|".
#For example: The value in the first row (Toy Story) should be 'English'.

df['spoken_languages'] = df['spoken_languages'].apply(lambda x: ast.literal_eval(x) if isinstance(x,str) else np.nan)

In [49]:
df['spoken_languages'] = df['spoken_languages'].apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x,list) else np.nan)

In [50]:
df['spoken_languages']

0                 English
1        English|Français
2                 English
3                 English
4                 English
               ...
45461               فارسی
45462
45463             English
45464
45465             English
Name: spoken_languages, Length: 45466, dtype: object

## Cleaning Numerical Columns

10. __Convert__ the datatype in the columns __"budget"__, __"id"__ and __"popularity"__ __to numeric__. Set invalid values as NaN.

11. __Analyze__ the columns __"budget"__ and __"revenue"__ and __"runtime"__. Analyze movies with a budget/revenue/runtime of 0. Do you think the value 0 is the most appropriate value? __Take reasonable measures__!

13. __Analyze__ movies with a __vote_count of 0__. What´s the __vote_average__ for those movies? Do you think this value is the most appropriate value? __Take reasonable measures__!

In [52]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

In [54]:
df['budget'].dtype

dtype('float64')

In [61]:
df['budget'].value_counts(dropna=False)

NaN            36576
5000000.0        286
10000000.0       259
20000000.0       243
2000000.0        242
               ...
270000000.0        1
923.0              1
72500000.0         1
2160000.0          1
1254040.0          1
Name: budget, Length: 1223, dtype: int64

In [60]:
df['budget'].replace(0,np.nan,inplace=True)

In [79]:
df.rename(columns= {"budget":"budget_musd","revenue":"revenue_musd"})

,adult,belongs_to_collection,budget_musd,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000.0,Animation|Comedy|Family,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000.0,Adventure|Fantasy|Family,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,English|Français,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,NaN,Romance|Comedy,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000.0,Comedy|Drama|Romance,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,NaN,Comedy,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,NaN,Drama|Family,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,فارسی,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,NaN,Drama,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,,Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,NaN,Action|Drama|Thriller,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,English,Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,NaN,,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,NaN,,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,English,Released,NaN,Queerama,False,0.0,0.0

In [87]:
#Analyze movies with a vote_count of 0. What´s the vote_average for those movies? Do you think this value is the most appropriate value? Take reasonable measures!

#df[(df['vote_count'] == 0)]['vote_average'] = np.nan

df.loc[df['vote_count'] == 0, 'vote_average']

## Cleaning DateTime Columns

14. __Convert__ the datatype in the column __"release_date"__ __to datetime__. Set invalid values as NaN.

In [91]:
df['release_date'] = pd.to_datetime(df['release_date'], errors = "coerce")

In [93]:
df['release_date'].value_counts(dropna=False).head(20)

2008-01-01    136
2009-01-01    121
2007-01-01    118
2005-01-01    111
2006-01-01    101
2002-01-01     96
2004-01-01     90
NaT            90
2001-01-01     84
2003-01-01     76
1997-01-01     69
2010-01-01     68
1998-01-01     67
1999-01-01     67
2000-01-01     64
1987-01-01     63
1988-01-01     63
1994-01-01     61
1989-01-01     60
2011-01-01     56
Name: release_date, dtype: int64

In [99]:
df['release_date'].replace('NaT       ', np.nan,inplace=True)

15. __Analyze__ the text columns "overview" and "tagline". Try to identify __missing data that is not represented by NaN__ (e.g. "No Data"). __Replace as NaN__ (np.nan)!

In [102]:
df['overview'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      954
No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           5
No movie overview available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
"Of Time and The City" is both a love song and a eulogy to the director's birthplace of Liverpool, England. It is also a response to memory, reflection and the experience of losing a sense of place as the skyline changes and time takes it toll. The visual content of the film consists largely of archival clips of Liverpool from the 1940s to the 1960s, their nostalgic charm darkened by accompanying music and by the counterpoint of Davies’ dry, at times dyspeptic, voice-over narration. His voice thickens with emotion as he recalls the delights of juvenile movie-going or the ritual of a holiday trip to New Brighton, across the River Mersey, and hardens with contempt when he turns his gaze on the hoopla surrounding Queen Elizabeth’s coronation in 1953.      1
We are in the year 1871. A journalist for Versailles Television broadcasts a soothing and official view of events while a Commune television is set up to provide the perspectives of the Paris rebels. On a stage-like set, more than 200 actors interpret characters of the Commune, especially the Popincourt neighbourhood in the XIth arrondissement. They voice their own thoughts and feelings concerning the social and political reforms. The scenes consist mainly of long camera takes.                                                                                                                                                                                                                                                                                         1
A kindergarten director Troshkin is a dead ringer for a criminal nicknamed "Docent" who stole the priceless...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
A man wakes up deep inside a cave. Suffering amnesia, he has no recollection of how he came to be here or of what happened to the man whose body he finds beside him. Tailed by a mysterious creature, he must continue through this strange and fantastic world. Enclosed, Tolbiac has no other option to reach the surface than to use REZO ZERO, secret observing cells in this cemetery-like abandoned mine.                                                                                                                                                                                                                                                                                                                                                                           1
50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: overview, Length: 44308, dtype: int64

In [104]:
df['overview'].replace("No overview found.",np.nan,inplace = True)

In [105]:
df['overview'].replace("No Overview",np.nan,inplace = True)

In [106]:
df['overview'].replace("No movie overview available.",np.nan,inplace = True)

In [107]:
df['overview'].replace("",np.nan,inplace = True)

In [110]:
df['overview'].replace(" ",np.nan,inplace = True)

In [111]:
df['overview'].value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1102
Recovering from a nail gun shot to the head and 13 months of coma, doctor Pekka Valinta starts to unravel the mystery of his past, still suffering from total amnesia.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      3
A few funny little novels about different aspects of life.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  3
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.                                                                                                                                                                                              3
Released                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
"Of Time and The City" is both a love song and a eulogy to the director's birthplace of Liverpool, England. It is also a response to memory, reflection and the experience of losing a sense of place as the skyline changes and time takes it toll. The visual content of the film consists largely of archival clips of Liverpool from the 1940s to the 1960s, their nostalgic charm darkened by accompanying music and by the counterpoint of Davies’ dry, at times dyspeptic, voice-over narration. His voice thickens with emotion as he recalls the delights of juvenile movie-going or the ritual of a holiday trip to New Brighton, across the River Mersey, and hardens with contempt when he turns his gaze on the hoopla surrounding Queen Elizabeth’s coronation in 1953.       1
We are in the year 1871. A journalist for Versailles Television broadcasts a soothing and official view of events while a Commune television is set up to provide the perspectives of the Paris rebels. On a stage-like set, more than 200 actors interpret characters of the Commune, especially the Popincourt neighbourhood in the XIth arrondissement. They voice their own thoughts and feelings concerning the social and political reforms. The scenes consist mainly of long camera takes.                                                                                                                                                                                                                                                                                          1
A kindergarten director Troshkin is a dead ringer for a criminal nicknamed "Docent" who stole the priceless...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
A man wakes up deep inside a cave. Suffering amnesia, he has no recollection of how he came to be here or of what happened to the man whose body he finds beside him. Tailed by a mysterious creature, he must continue through this strange and fantastic world. Enclosed, Tolbiac has no other option to reach the surface than to use REZO ZERO, secret observing cells in this cemetery-like abandoned mine.                                                                                                                                                                                                                                                                                                                                                                            1
50 years after decriminalisation of homosexuality in the UK, director Daisy Asquith mines the jewels of the BFI archive to take us into the relationships, desires, fears and expressions of gay men and women in the 20th century.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
Name: overview, Length: 44304, dtype: int64

In [113]:
df['tagline'].replace("-", np.nan, inplace=True)

In [115]:
df['tagline'].value_counts(dropna=False)

NaN                                                           25058
Based on a true story.                                            7
Trust no one.                                                     4
Be careful what you wish for.                                     4
Who is John Galt?                                                 3
                                                              ...
A special force in a special kind of hell!                        1
Play it. Sing it. Shout it. Feel it.                              1
If It's On TV, It Must Be The Truth.                              1
"I LOVE YOU BABY, BUT MY WIFE JUST REFUSES TO UNDERSTAND!"        1
A deadly game of wits.                                            1
Name: tagline, Length: 20283, dtype: int64

## Removing Duplicates

16. __Identify__ and __remove__ duplicates!

In [116]:
df[df.duplicated(subset='id',keep=False)].sort_values(by='id')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
676,False,NaN,NaN,Drama|Romance,NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,1995-02-16,0.0,115.0,Deutsch,Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
1465,False,NaN,NaN,Drama|Romance,NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,1995-02-16,0.0,115.0,Deutsch,Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
44821,False,Pokémon Collection,16000000.0,Adventure|Fantasy|Animation|Action|Family,http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,English,Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,144.0
4114,False,Pokémon Collection,16000000.0,Adventure|Fantasy|Animation|Action|Family,http://movies.warnerbros.com/pk3/,10991,tt0235679,ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,...,2000-07-08,68411275.0,93.0,English,Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,False,6.0,143.0
5710,False,NaN,NaN,Drama,NaN,109962,tt0082992,en,Rich and Famous,Two literary women compete for 20 years: one w...,...,1981-09-23,0.0,115.0,English,Released,"From the very beginning, they knew they'd be f...",Rich and Famous,False,4.9,7.0
20899,False,NaN,NaN,Drama,NaN,109962,tt0082992,en,Rich and Famous,Two literary women compete for 20 years: one w...,...,1981-09-23,0.0,115.0,English,Released,"From the very beginning, they knew they'd be f...",Rich and Famous,False,4.9,7.0
23534,False,NaN,3512454.0,Drama,NaN,110428,tt2018086,fr,Camille Claudel 1915,"Winter, 1915. Confined by her family to an asy...",...,2013-03-13,115860.0,95.0,Français,Released,NaN,Camille Claudel 1915,False,7.0,20.0
4356,False,NaN,3512454.0,Drama,NaN,110428,tt2018086,fr,Camille Claudel 1915,"Winter, 1915. Confined by her family to an asy...",...,2013-03-13,115860.0,95.0,Français,Released,NaN,Camille Claudel 1915,False,7.0,20.0
24844,False,NaN,NaN,Comedy|Drama,http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,...,2008-01-29,0.0,85.0,English,Released,NaN,Deal,False,5.2,22.0
14012,False,NaN,NaN,Comedy|Drama,http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,...,2008-01-29,0.0,85.0,English,Released,NaN,Deal,False,5.2,22.0
21165,False,NaN,NaN,Fantasy|Drama|Science Fiction,NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",...,1980-02-27,0.0,123.0,,Released,NaN,The Tempest,False,NaN,0.0
19890,False,NaN,NaN,Fantasy|Drama|Science Fiction,NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",...,1980-02-27,0.0,123.0,,Released,NaN,The Tempest,False,NaN,0.0
5535,False,Pokémon Collection,NaN,Adventure|Fantasy|Animation|Science Fiction|Fa...,http://www.pokemon.com/us/movies/movie-pokemon...,12600,tt0287635,ja,劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）,"All your favorite Pokémon characters are back,...",...,2001-07-06,28023563.0,75.0,日本語,Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,False,5.7,82.0
44826,False,Pokémon Collection,NaN,Adventure|Fantasy|Animation|Science Fiction|Fa...,http://www.pokemon.com/us/movies/movie-pokemon...,12600,tt0287635,ja,劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）,"All your favorite Pokémon characters are back,...",...,2001-07-06,28023563.0,75.0,日本語,Released,NaN,Pokémon 4Ever: Celebi - Voice of the Forest,False,5.7,82.0
11342,False,NaN,2500.0,Drama|Comedy|Foreign,NaN,13209,tt0499537,fa,Offside,"Since women are banned from soccer matches, Ir...",...,2006-05-26,0.0,93.0,فارسی,Released,NaN,Offside,False,6.7,27.0
15765,False,NaN,2500.0,Drama|Comedy|Foreign,NaN,13209,tt0499537,fa,Offside,"Since women are banned from soccer matches, Ir...",...,2006-05-26,0.0,93.0,فارسی,Released,NaN,Offside,False,6.7,27.0
838,False,NaN,NaN,Drama,NaN,132641,tt0046468,ja,Tsuma,"Ten years into a marriage, the wife is disappo...",...,1953-04-29,0.0,89.0,日本語,Released,NaN,Wife,False,NaN,0.0
30001,False,NaN,NaN,Drama,NaN,132641,tt0046468,ja,Tsuma,"Ten years into a marriage, the wife is disappo...",...,1953-04-29,0.0,89.0,日本語,Released,NaN,Wife,False,NaN,0.0
16764,False,NaN,NaN,Thriller|Mystery,NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
13261,False,NaN,NaN,Thriller|Mystery,NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
13375,False,NaN,NaN,Thriller|Mystery,NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,suomi,Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
10419,False,NaN,1600000.0,Drama|Crime|Mystery,http://www.bubblethefilm.com/,14788,tt0454792,en,Bubble,Set against the backdrop of a decaying Midwest...,...,2005-09-03,0.0,73.0,English,Released,NaN,Bubble,False,6.4,36.0
12066,False,NaN,1600000.0,Drama|Crime|Mystery,http://www.bubblethefilm.com/,14788,tt0454792,en,Bubble,Set against the backdrop of a decaying Midwest...,...,2005-09-03,0.0,73.0,English,Released,NaN,Bubble,False,6.4,36.0
5130,False,NaN,26000000.0,Adventure|Family|Science Fiction|Thriller,NaN,15028,tt0157472,en,Clockstoppers,"Until now, Zak Gibbs' greatest challenge has b...",...,2002-03-17,38793283.0,94.0,Český|English,Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,False,4.9,89.0
33743,False,NaN,26000000.0,Adventure|Family|Science Fiction|Thriller,NaN,15028,tt0157472,en,Clockstoppers,"Until now, Zak Gibbs' greatest challenge has b...",...,2002-03-17,38793283.0,94.0,Český|English,Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,False,4.9,90.0
19925,False,NaN,NaN,Drama|Science Fiction|Animation,NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,...,2013-05-16,455815.0,122.0,English,Released,NaN,The Congress,False,6.4,165.0
21854,False,NaN,NaN,Drama|Science Fiction|Animation,NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,...,2013-05-16,455815.0,122.0,English,Released,NaN,The Congress,False,6.4,165.0
35798,False,Why We Fight,NaN,Documentary,NaN,159849,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",...,1943-01-01,0.0,57.0,English,Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
13220,False,Why We Fight,NaN,Documentary,NaN,159849,tt0173769,en,Why We Fight: Divide and Conquer,"The third film of Frank Capra's 'Why We Fight""...",...,1943-01-01,0.0,57.0,English,Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
13603,False,NaN,NaN,Drama|Comedy,NaN,168538,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",...,1983-06-13,0.0,92.0,,Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
28860,False,NaN,NaN,Drama|Comedy,NaN,168538,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",...,1983-06-13,0.0,92.0,,Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
22151,False,NaN,NaN,Action|Horror|Science Fiction,http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,...,2007-01-01,0.0,89.0,English,Released,NaN,Days of Darkness,False,5.0,5.0
14000,False,NaN,NaN,Action|Horror|Science Fiction,http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,...,2007-01-01,0.0,89.0,English,Released,NaN,Days of Darkness,False,5.0,5.0
949,False,NaN,4.0,Drama|Romance|War,NaN,22649,tt0022879,en,A Farewell to Arms,British nurse Catherine Barkley (Helen Hayes) ...,...,1932-12-08,25.0,89.0,English,Released,Every woman who has loved will understand,A Farewell to Arms,False,6.2,29.0
15074,False,NaN,4.0,Drama|Romance|War,NaN,22649,tt0022879,en,A Farewell to Arms,British nurse Catherine Barkley (Helen Hayes) ...,...,1932-12-08,25.0,89.0,English,Released,Every woman who has loved will understand,A Farewell to Arms,False,6.2,29.0
8068,False,NaN,NaN,Adventure|Animation|Drama|Action|Foreign,NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,2001-09-23,0.0,86.0,हिन्दी,Released,NaN,The Warrior,False,6.3,15.0
9327,False,NaN,NaN,Adventure|Animation|Drama|Action|Foreign,NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,2001-09-23,0.0,86.0,हिन्दी,Released,NaN,The Warrior,False,6.3,15.0
17229,False,NaN,NaN,Drama,NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,...,2009-10-21,0.0,90.0,Dansk,Released,NaN,Brotherhood,False,7.1,21.0
23044,False,NaN,NaN,Drama,NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,...,2009-10-21,0.0,90.0,Dansk,Released,NaN,Brotherhood,False,7.1,21.0
24164,False,NaN,NaN,Comedy|Drama,NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,2014-08-15,1359497.0,118.0,Français|Norsk|svenska|English,Released,NaN,Force Majeure,False,6.8,255.0
45265,False,NaN,NaN,Comedy|Drama,NaN,265189,tt2121382,sv,Turist,"While holidaying in the French Alps, a Swedish...",...,2014-08-15,1359497.0,118.0,Français|Norsk|svenska|English,Released,NaN,Force Majeure,False,6.8,255.0
33184,False,NaN,980000.0,Drama|Fantasy,NaN,298721,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",...,2015-09-02,0.0,122.0,English|ภาษาไทย,Released,NaN,Cemetery of Splendour,False,4.4,50.0
40040,False,NaN,980000.0,Drama|Fantasy,NaN,298721,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",...,2015-09-02,0.0,122.0,English|ภาษาไทย,Released,NaN,Cemetery of Splendour,False,4.4,50.0
15702,False,NaN,NaN,Drama|Foreign,NaN,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",...,1971-02-04,0.0,137.0,English,Rumored,NaN,King Lear,False,8.0,3.0
29374,False,NaN,NaN,Drama|Foreign,NaN,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",...,1971-02-04,0.0,137.0,English,Rumored,NaN,King Lear,False,8.0,3.0
33826,False,NaN,30000000.0,Comedy|Crime|Drama|Romance|Thriller,NaN,4912,tt0270288,en,Confessions of a Dangerous Mind,"Television made him famous, but his biggest hi...",...,2002-12-30,33013805.0,113.0,English,Released,Some things are better left top secret.,Confessions of a Dangerous Mind,False,6.6,281.0
5865,False,NaN,30000000.0,Comedy|Crime|Drama|Romance|Thriller,NaN,4912,tt0270288,en,Confessions of a Dangerous Mind,"Television made him famous, but his biggest hi...",...,2002-12-30,33013805.0,113.0,English,Released,Some things are better left top secret.,Confessions of a Dangerous Mind,False,6.6,281.0
7345,False,NaN,NaN,Crime|Drama|Thriller,NaN,5511,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,...,1967-10-25,39481.0,105.0,Français,Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
9165,False,NaN,NaN,Crime|Drama|Thriller,NaN,5511,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,...,1967-10-25,39481.0,105.0,Français,Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
26625,False,NaN,10000000.0,Drama|Horror|Music|Romance|TV Movie,NaN,69234,tt0100361,en,The Phantom of the Opera,Count de Chagnie has discovered Christine's si...,...,1990-03-18,0.0,168.0,English|Italiano,Released,NaN,The Phantom of the Opera,False,5.0,3.0
9576,False,NaN,10000000.0,Drama|Horror|Music|Romance|TV Movie,NaN,69234,tt0100361,en,The Phantom of the Opera,Count de Chagnie has discovered Christine's si...,...,1990-03-18,0.0,168.0,English|Italiano,Released,NaN,The Phantom of the Opera,False,5.0,3.0
20843,False,NaN,40000000.0,Adventure|Drama,NaN,77221,tt1701210,en,Black Gold,"On the Arabian Peninsula in the 1930s, two war...",...,2011-12-21,5446000.0,130.0,English,Released,NaN,Black Gold,False,5.9,77.0
11155,False,NaN,40000000.0,Adventure|Drama,NaN,77221,tt1701210,en,Black Gold,"On the Arabian Peninsula in the 1930s, two war...",...,2011-12-21,5446000.0,130.0,English,Released,NaN,Black Gold,False,5.9,77.0
2564,False,NaN,NaN,Documentary,NaN,84198,tt1736049,en,A Place at the Table,"Using personal stories, this powerful document...",...,2012-03-22,0.0,84.0,English,Released,One Nation. Underfed.,A Place at the Table,False,6.9,7.0
21116,False,NaN,NaN,Documentary,NaN,84198,tt1736049,en,A Place at the Table,"Using personal stories, this powerful document...",...,2012-03-22,0.0,84.0,English,Released,One Nation. Underfed.,A Place at the Table,False,6.9,7.0
13946,False,NaN,NaN,Comedy,NaN,97995,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",...,1921-02-06,0.0,62.0,English,Released,NaN,Seven Years Bad Luck,False,5.6,4.0
40276,False,NaN,NaN,Comedy,NaN,97995,tt0127834,en,Seven Years Bad Luck,"After breaking a mirror in his home, superstit...",...,1921-02-06,0.0,62.0,English,Released,NaN,Seven Years Bad Luck,False,5.6,4.0
38871,False,NaN,NaN,Action|Drama|Romance|Adventure,NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",...,1931-06-21,0.0,70.0,English,Released,Actually produced during the Great Newfoundlan...,The Viking,False,NaN,0.0
16167,False,NaN,NaN,Action|Drama|Romance|Adventure,NaN,99080,tt0022537,en,The Viking,"Originally called White Thunder, American prod...",...,1931-06-21,0.0,70.0,English,Released,Actually produced during the Great Newfoundlan...,The Viking,False,NaN,0.0

In [120]:
df.drop_duplicates(subset='id',keep=False, inplace=True)

In [121]:
df['id'].isna().sum()

0

In [122]:
df[df.duplicated(subset='id',keep=False)].sort_values(by='id')

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

## Handling Missing Values & Removing Observations

17. __Drop__ all rows/movies with unknown __id__ or __title__.

18. __Keep__ only those rows/movies in the df with __10 or more non-NaN__ values.

In [123]:
df['title'].isna().sum()

6

In [124]:
df.dropna(subset=['id','title'],inplace=True)

In [130]:
df.notna().sum(axis=1).value_counts().sort_values(ascending=False)

20    16528
21    15272
22     7429
23     2741
19     2275
24      516
18      492
17      120
16       23
15        5
dtype: int64

In [133]:
df.dropna(thresh=10,inplace=True)

# Thank you